* {
    box-sizing: border-box;
    margin: 5px auto;
}

body {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    background-image: linear-gradient(to right, red , yellow);
    color: white;
}

header {
    padding: 20px;
    max-width: 800px;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 50px ;
}

input {
    width: 40rem;
    height: 30px;
}

main {
    border: 2px solid black;
    margin-top: 10px;
}

#new-task-submit {
    border-radius: 5px;
}

.delete {
    border-radius: 5px;
}

.edit {
    border-radius: 5px;
}
